In [1]:
import pandas as pd
video_data = pd.concat([pd.read_csv("video.txt", delim_whitespace=True), pd.read_csv("videoMultiple.txt", delim_whitespace=True)], axis=1,)
import numpy as np

In [2]:
mult_rows = video_data.iloc[:,15:].drop(['other', 'other2', 'coord', 'lonely', 'friends'], axis = 1)
game_categories = mult_rows.columns
mult_rows['grade'] = video_data['grade']
# mult_rows

In [18]:
video_data['time'].iloc[:,0].value_counts()

0.0     57
2.0     14
0.5      5
1.0      5
3.0      3
14.0     2
5.0      1
1.5      1
4.0      1
30.0     1
0.1      1
Name: time, dtype: int64

In [43]:
for i in game_categories:
    curr_mean = mult_rows[mult_rows[i] == 1]['grade'].mean()
    print(str(i) + " mean: " + str(round(curr_mean,2)))

action mean: 3.27
adv mean: 3.4
sim mean: 3.33
sport mean: 3.41
strategy mean: 3.29
relax mean: 3.29
challenge mean: 3.43
master mean: 3.4
bored mean: 3.21
graphic mean: 3.3
time mean: 3.14
frust mean: 3.3
rules mean: 3.24
cost mean: 3.31
boring mean: 3.21
point mean: 3.17

In [44]:
mean_dict = {}
for i in game_categories:
    cat_grades = mult_rows[mult_rows[i] == 1]['grade'].mean()
    mean_dict[i] = cat_grades

## Means ordered

In [45]:
pd.Series(mean_dict).sort_values(ascending = False)

challenge    3.428571
sport        3.411765
adv          3.400000
master       3.400000
sim          3.333333
cost         3.314286
graphic      3.304348
frust        3.304348
relax        3.293103
strategy     3.290909
action       3.266667
rules        3.235294
boring       3.214286
bored        3.208333
point        3.172414
time         3.142857
dtype: float64

## Popularities of each caegory

In [47]:
order = mult_rows.drop('grade',axis = 1).sum().sort_values(ascending = False).index.to_list()
rank = pd.Series(index = order, data = np.arange(1, len(order)+1))
rank

relax         1
strategy      2
action        3
time          4
cost          5
sport         6
point         7
adv           8
master        9
bored        10
graphic      11
frust        12
challenge    13
rules        14
sim          15
boring       16
dtype: int32

## Combined

In [48]:
pd.DataFrame([pd.Series(mean_dict).sort_values(ascending = False), rank])

,challenge,sport,adv,master,sim,cost,graphic,frust,relax,strategy,action,rules,boring,bored,point,time
0,3.428571,3.411765,3.4,3.4,3.333333,3.314286,3.304348,3.304348,3.293103,3.290909,3.266667,3.235294,3.214286,3.208333,3.172414,3.142857
1,13.000000,6.000000,8.0,9.0,15.000000,5.000000,11.000000,12.000000,1.000000,2.000000,3.000000,14.000000,16.000000,10.000000,7.000000,4.000000

In [53]:
grades_dict = {}
for i in game_categories:
    cat_grades = mult_rows[mult_rows[i] == 1]['grade'].to_list()
    grades_dict[i] = cat_grades
# grades_dict

## Categories means for data section

In [115]:
mult_rows.drop('grade',axis = 1).mean().sort_values(ascending = False)

relax        0.666667
strategy     0.632184
action       0.517241
time         0.482759
cost         0.402299
sport        0.390805
point        0.333333
adv          0.287356
master       0.287356
bored        0.275862
graphic      0.264368
frust        0.264368
challenge    0.241379
rules        0.195402
sim          0.172414
boring       0.160920
dtype: float64

## Used for cleaning out Nulls from a specific row and then get the means for the data section

In [116]:
df = pd.read_csv("video.txt", delim_whitespace=True)

In [117]:
row = 'grade'
df[row].value_counts()

3    52
4    31
2     8
Name: grade, dtype: int64

In [118]:
df[df[row] < 98][row].mean()

3.2527472527472527

## Nulls

In [126]:
(df>98).sum()

time      0
like      1
where    18
freq     13
busy     11
educ     13
sex       0
age       0
home      0
math      1
work      3
own       0
cdrom     5
email     0
grade     0
dtype: int64